{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["airbnb", "eslint:recommended"],
  "rules": {
    "semi": ["error", "always"],
    "no-plusplus": "off",
    "no-unused-vars": "warn",
    "arrow-body-style": "error",
    "no-alert": "off"
  }
}
